@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

@theme {
  --breakpoint-xs: 22.563rem;
  
  --font-jost: "Jost";

  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));
  --color-card: hsl(var(--card));
  --color-card-foreground: hsl(var(--card-foreground));
  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));
  --color-secondary: hsl(var(--secondary));
  --color-secondary-foreground: hsl(var(--secondary-foreground));
  --color-muted: hsl(var(--muted));

  --animate-fade-in: fade-in 0.3s ease-out forwards;
  --animate-fade-in-delay: fade-in 1s ease-out 0.5s forwards;
  --animate-text-fire: text-fire ease-in-out 0.4s infinite; 
  --animate-scale-up: scale-up 0.3s ease-in-out forwards;

  @keyframes fade-in {
    from {
      opacity: 0;
    } to {
      opacity: 1;
    }
  }

  @keyframes text-fire {
    0% {
      content: "YouR CarEer";
    }
    25% {
      content: "yOuR cAreEr";
    }
    50% {
      content: "YoUr CaReeR";
    }
    75% {
      content: "Your cArEer";
    }
    100% {
      content: "YouR CarEer";
    }
  }

  @keyframes scale-up {
    0% {
      transform: scale(0.8);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
}

@layer base {
  :root {
    --background: 300 50% 100%;
    --foreground: 300 0% 4%;
    --card: 300 0% 95%;
    --card-foreground: 300 0% 4%;
    --primary: 330 0% 9%;
    --primary-foreground: 300 0% 98%;
    --secondary: 300 0% 96%;
    --secondary-foreground: 330 0% 9%;
    --muted: 300 0% 45%;
  }

  .dark {
    --background: 300 0% 4%;
    --foreground: 300 0% 98%;
    --card: 330 0% 9%;
    --card-foreground: 300 0% 98%;
    --primary: 330 0% 90%;
    --primary-foreground: 330 0% 9%;
    --secondary: 320 0% 15%;
    --secondary-foreground: 300 0% 98%;
    --muted: 0 0% 63%;
  }

  
  ::selection {
    @apply bg-foreground text-background;
  }

  body {
    @apply bg-background text-foreground transition-colors duration-300;
  }
}

@utility text-fire {
  @apply transition-colors duration-300 relative hover:text-background before:absolute before:-top-1/2 
  before:right-1/2 before:text-2xl sm:before:text-4xl md:before:text-5xl before:translate-1/2 
  before:animate-text-fire before:text-foreground before:transition-all before:duration-300 
  before:whitespace-nowrap before:blur-xl hover:before:blur-2xl;
}

@utility scale-up-110 {
  @apply transition-transform duration-300 hover:scale-110;
}

@utility button-container-w-animation {
  @apply flex justify-between items-center rounded-xl relative before:content-['']
  before:w-full before:h-full before:absolute before:top-0 before:left-0 before:bg-primary-foreground
  before:-z-10 before:rounded-xl before:border-1 before:border-primary hover:before:top-0.5
  hover:before:left-0.5 before:transition-all before:duration-300;
}

@utility primary-button {
  @apply px-5.5 sm:px-6 py-2.5 bg-primary text-primary-foreground font-jost font-medium text-xs 
  sm:text-sm rounded-xl cursor-pointer transition-colors duration-300;
}

@utility secondary-button {
  @apply px-4.5 sm:px-5 py-2.5 bg-transparent text-primary font-jost font-medium text-xs sm:text-sm 
  border-1 border-primary rounded-xl cursor-pointer transition-colors duration-300 hover:bg-[#ffffff0d];
}

@utility filter-category-button {
  @apply w-30 h-17 rounded-xl flex flex-col justify-center items-center gap-1;
}

@utility filter-category-select {
  @apply w-35 bg-secondary outline-none pl-3.5 py-2 rounded-md text-sm font-jost appearance-none
  border-1 border-muted;
}

@utility form-wrapper {
  @apply flex flex-col justify-center gap-2.5;
}

@utility dialog-label {
  @apply text-xs sm:text-sm font-medium;
}

@utility dialog-input {
  @apply px-3 py-1.5 border-1 border-muted rounded-lg outline-none text-xs sm:text-sm transition-all 
  duration-500 focus:shadow-[0_0_0_2px_hsl(var(--primary))];
}

@utility dialog-select {
  @apply px-3 py-1.5 border-1 border-muted rounded-lg text-xs sm:text-sm transition-all 
  duration-500 focus:shadow-[0_0_0_2px_hsl(var(--primary))] bg-background appearance-none
  outline-none;
}

@utility custom-date-wrapper {
  @apply absolute inline-block;
}

.filter-category-select > option:checked,
.dialog-select > option:checked {
  background-color: hsl(var(--secondary-foreground));
  color: hsl(var(--secondary));
}

.filter-category-select-wrapper::after {
  content: "⪢";
  background-color: transparent;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%) rotate(90deg);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s, color 5000s ease-in-out 0s;
}

.stroke:hover {
  text-shadow:
    -1px -1px 0 hsl(var(--foreground)),  
     1px -1px 0 hsl(var(--foreground)),
    -1px  1px 0 hsl(var(--foreground)),
     1px  1px 0 hsl(var(--foreground));

  -webkit-text-stroke: 2px hsl(var(--foreground));
}

.scrollbar-style {
  scrollbar-color: hsl(var(--foreground)) hsl(var(--background));
  scrollbar-width: medium;
}

td {
  border-bottom: 1px solid hsl(var(--primary));
}

tbody tr:last-of-type td {
  border-bottom: none;
}