@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

@theme {
  --font-jost: "Jost";

  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));
  --color-card: hsl(var(--card));
  --color-card-foreground: hsl(var(--card-foreground));
  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));
  --color-secondary: hsl(var(--secondary));
  --color-secondary-foreground: hsl(var(--secondary-foreground));
  --color-muted: hsl(var(--muted));

  --animate-fade-in: fade-in 1s ease-out forwards;
  --animate-fade-in-delay: fade-in 1s ease-out 0.5s forwards;
  --animate-text-fire: text-fire ease-in-out 0.4s infinite; 

  @keyframes fade-in {
    from {
      opacity: 0;
    } to {
      opacity: 1;
    }
  }

  @keyframes text-fire {
    0% {
      content: "YouR CarEer";
    }
    25% {
      content: "yOuR cAreEr";
    }
    50% {
      content: "YoUr CaReeR";
    }
    75% {
      content: "Your cArEer";
    }
    100% {
      content: "YouR CarEer";
    }
  }
}

@layer base {
  :root {
    --background: 300 50% 100%;
    --foreground: 300 0% 4%;
    --card: 300 50% 100%;
    --card-foreground: 300 0% 4%;
    --primary: 330 0% 9%;
    --primary-foreground: 300 0% 98%;
    --secondary: 300 0% 96%;
    --secondary-foreground: 330 0% 9%;
    --muted: 300 0% 45%;
  }

  .dark {
    --background: 300 0% 4%;
    --foreground: 300 0% 98%;
    --card: 330 0% 9%;
    --card-foreground: 300 0% 98%;
    --primary: 330 0% 90%;
    --primary-foreground: 330 0% 9%;
    --secondary: 320 0% 15%;
    --secondary-foreground: 300 0% 98%;
    --muted: 0 0% 63%;
  }

  
  ::selection {
    @apply bg-foreground text-background;
  }

  body {
    @apply bg-background text-foreground transition-colors duration-300;
  }
}

@utility text-fire {
  @apply transition-colors duration-300 relative hover:text-cyan-300 before:absolute before:-top-1/2 
  before:right-1/2 before:text-2xl sm:before:text-4xl md:before:text-5xl before:translate-1/2 
  before:animate-text-fire before:text-cyan-400 before:transition-all before:duration-300 
  before:whitespace-nowrap before:blur-xl hover:before:blur-2xl;
}

@utility scale-up-110 {
  @apply transition-transform duration-300 hover:scale-110;
}

@utility primary-button {
  @apply px-5.5 sm:px-6 py-2.5 bg-primary text-primary-foreground font-jost font-medium text-xs 
  sm:text-sm rounded-xl cursor-pointer transition-colors duration-300 hover:bg-gray-300;
}

@utility secondary-button {
  @apply px-4.5 sm:px-5 py-2.5 bg-transparent text-primary font-jost font-medium text-xs sm:text-sm 
  border-1 border-primary rounded-xl cursor-pointer transition-colors duration-300 hover:bg-[#ffffff0d];
}

@utility filter-category-button {
  @apply w-30 h-17 rounded-xl flex flex-col justify-center items-center gap-1;
}